[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
flake8 = "*"
ipython = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
